@keyframes borderPulse {
  0% {
    border-color: #471b0b;
  }
  50% {
    border-color: #2c1250;
  }
  100% {
    border-color: #114a13;
  }
}
*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(22, 99, 224);
}
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}
h1{
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background-color: #1089d0;
  color: rgb(21, 8, 46);
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 10px 5px 5px rgb(3, 13, 89);
  border: 5px solid transparent;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  animation: borderPulse 2s infinite;
}

.card-opened {
  background-image: url("./assets/card.jpg");
  color: rgb(0, 0, 0);
  background-size: cover;
  font-size: 1.5em;
  font-weight: bolder;
  border-color: #0a0526;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="number"] {
  padding: 10px;
  font-size: 1em;
  text-align: center;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  margin-right: 10px;
  transition: border-color 0.3s;
}

input[type="number"]:focus {
  border-color: #090909;
  outline: none;
  font-size: 1em;
  background-color: aqua;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 400;
  color: rgb(0, 248, 9);
  background-color: #0909e1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:disabled {
  background-color: white;
  font-weight: bold;
  color: black;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #4c1ad6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {
  input{
    width: 30%;
  }
  button{
    height: 40px;
  }
}
